[Unit]
Description="PostgreSQL Database Server"
After=local-fs.target

[Container]
Image=docker.io/library/postgres:17
AutoUpdate=registry
PublishPort=5432:5432
ContainerName=pg

# Environment variables for PostgreSQL setup
Environment=POSTGRES_USER=postgres
# todo: replace with .env
Environment=POSTGRES_PASSWORD=area
Environment=POSTGRES_DB=postgres
Environment=PGDATA=/var/lib/postgresql/data/pgdata

# Volume mappings for persistent data
Volume=postgres-data:/var/lib/postgresql/data

Network=pgnet.network

[Service]
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target default.target
