[Unit]
Description="PostgreSQL Database Server"
After=local-fs.target

[Container]
Image=docker.io/library/postgres:16
AutoUpdate=registry
PublishPort=5432:5432

# Environment variables for PostgreSQL setup
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_DB=postgres
Environment=PGDATA=/var/lib/postgresql/data/pgdata



# Volume mappings for persistent data
Volume=postgres-data:/var/lib/postgresql/data

# Set resource limits
CPUQuota=100%
MemoryLimit=1G

[Service]
Restart=always



# Health check
HealthCmd=["pg_isready", "-U", "postgres"]
HealthInterval=10s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=30s


[Install]
WantedBy=multi-user.target default.target
