[Unit]
Description="PostgreSQL Database Server"
After=local-fs.target

[Container]
Image=docker.io/library/postgres:17
AutoUpdate=registry
PublishPort=5432:5432

# Environment variables for PostgreSQL setup
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_DB=postgres
Environment=PGDATA=/var/lib/postgresql/data/pgdata

# Volume mappings for persistent data
Volume=postgres-data:/var/lib/postgresql/data

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
