[Unit]
Description="ptb-nn"
#After=local-fs.target
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=ptb-nn
Image=ghcr.io/pxnx/ptb-nn:master
AutoUpdate=registry

EnvironmentFile=%h/projects/ptb-nn/.env
Environment=PYTHONPATH=/
WorkingDir=/bot
Exec=python -m main

[Service]
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target