[Unit]
Description="ptb-nn"
Wants=network-online.target pgnet-network.service
After=network-online.target pgnet-network.service

[Container]
ContainerName=ptb-nn
Image=ghcr.io/militaernews/ptb-nn:latest
AutoUpdate=registry

EnvironmentFile=%h/projects/ptb-nn/.env
Environment=PYTHONPATH=/
WorkingDir=/
Exec=python -m bot.main

Network=pgnet.network

[Service]
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
