[Unit]
Description="ptb-mnchat"
After=local-fs.target

[Container]
Image=ghcr.io/militaernews/ptb-mnchat:latest
AutoUpdate=registry
ContainerName=ptb-mnchat

LogDriver=journald
WorkingDir=/app
Volume=%h/projects/ptb-mnchat/bot:/app:Z

EnvironmentFile=%h/projects/ptb-mnchat/.env
Environment=CONTAINER=true
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=PYTHONUNBUFFERED=1

Exec=sh -c "pip install --no-cache-dir -r requirements.txt && python -u main.py"

Network=pgnet.network

[Service]
Restart=always

[Install]
WantedBy=default.target
