[Unit]
Description="tg-nn"
After=local-fs.target

[Container]
Image=docker.io/library/python:3.12-slim
AutoUpdate=registry
ContainerName=tg-nn

LogDriver=journald
WorkingDir=/app
Volume=%h/projects/tg-nn/bot:/app:Z

EnvironmentFile=%h/projects/tg-nn/.env
Environment=CONTAINER=true
Environment=PYTHONPATH=/
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=PYTHONUNBUFFERED=1

Exec=sh -c "pip install --no-cache-dir -r requirements.txt && python -u main.py"

#Network=pgnet.network

[Service]
Restart=always

[Install]
WantedBy=default.target