[Unit]
Description="tg-nn"
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=tg-nn
Image=ghcr.io/pxnx/tg-nn:master
AutoUpdate=registry

EnvironmentFile=%h/projects/tg-nn/.env
Environment=PYTHONPATH=/
WorkingDir=/bot
Exec=python -m main

[Service]
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target